.yellow{
	background-color: #ffc107;
	width: 200px;
	height: 150px;	
	display: inline-block;
}
.grey{
	background-color: #2f2f2f;
	color: #FFFFFF;
	width: 200px;
	height: 150px;
	display: inline-block;
}
p{
	padding: 0.5em;
	margin: 0;
}
